In [35]:
import pandas as pd
import numpy as np

In [36]:
 dt=pd.read_csv(r'C:/Users/Soundarya/Downloads/SPAM.csv')

In [37]:
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [38]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)

In [39]:
dt.head(5)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [40]:
for col in dt.columns:
    print(col)

type
text
spam

In [41]:
dt['text'][1]

'Ok lar... Joking wif u oni...'

In [42]:
def tokenizer(text):
    return text.split()

In [43]:
dt['text']=dt['text'].apply(tokenizer)

In [44]:
dt['text'][1]

['Ok', 'lar...', 'Joking', 'wif', 'u', 'oni...']

In [45]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [48]:
print(porter)

<nltk.stem.snowball.SnowballStemmer object at 0x0000024D75F81DC0>

In [49]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [50]:
dt['text']=dt['text'].apply(stem_it)

In [51]:
dt['text'][1]

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [52]:
dt['text'][54]

['sms.',
 'ac',
 'sptv:',
 'the',
 'new',
 'jersey',
 'devil',
 'and',
 'the',
 'detroit',
 'red',
 'wing',
 'play',
 'ice',
 'hockey.',
 'correct',
 'or',
 'incorrect?',
 'end?',
 'repli',
 'end',
 'sptv']

In [53]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [54]:
def lemmit_it(text):
    return[lemmatizer.lemmatize(word,pos='a') for word in text]

In [55]:
dt['text']=dt['text'].apply(lemmit_it)

In [56]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Soundarya\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [57]:
dt['text'][54]

['sms.',
 'ac',
 'sptv:',
 'the',
 'new',
 'jersey',
 'devil',
 'and',
 'the',
 'detroit',
 'red',
 'wing',
 'play',
 'ice',
 'hockey.',
 'correct',
 'or',
 'incorrect?',
 'end?',
 'repli',
 'end',
 'sptv']

In [58]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Soundarya\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [59]:
from nltk.corpus import stopwords
print(stopwords.words('english'))
set(['a','t','d','y'])

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

{'a', 'd', 't', 'y'}

In [60]:
from nltk.corpus import stopwords
stop_words=stopwords.words('english')

In [61]:
def stop_it(text):
    review=[word for word in text if not word in stop_words]
    return review

In [62]:
dt['text']=dt['text'].apply(stop_it)

In [63]:
dt['text'][100]

['pleas', 'text', 'anymore.', 'noth', 'els', 'say.']

In [64]:
dt.head(10)

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0
5  spam  [freemsg, hey, darl, 3, week, word, back!, i'd...     1
6   ham  [even, brother, like, speak, me., treat, like,...     0
7   ham  [per, request, mell, mell, (oru, minnaminungin...     0
8  spam  [winner!!, valu, network, custom, select, rece...     1
9  spam  [mobil, 11, month, more?, u, r, entitl, updat,...     1

In [65]:
dt['text']=dt['text'].apply(''.join)

In [66]:
dt.head()

   type                                               text  spam
0   ham  gojurongpoint,crazy..availonlibugingreatworldl...     0
1   ham                             oklar...jokewifuoni...     0
2  spam  freeentri2wklicompwinfacupfinaltkts21stmay2005...     1
3   ham                  udunsayearlihor...ucalreadisay...     0
4   ham                    nahthinkgoeusf,livearoundthough     0

In [67]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [68]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [69]:
#logisticregression
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_test)*100
print('accuracy',acc_log)

accuracy 87.5

In [34]:
#support vector classification
from sklearn.svm import LinearSVC
linear_svc=LinearSVC(random_state=0)
linear_svc.fit(x_train,y_train)
y_pred=linear_svc.predict(x_test)
acc_linear_svc=accuracy_score(y_pred,y_test)*100
print('accuracy',acc_linear_svc)

accuracy 87.5